.feedback{
  outline: 3px solid var(--blue-dark);
  inline-size: 90%;
  margin: 0 auto;
  background-color: var(--white);
  padding: 1.5rem;
  box-sizing: border-box;
  box-shadow: 7px 7px 0px 0px var(--blue-dark);
  border-radius: 1rem;
  max-inline-size: 27rem;
}

.feedback-content{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.feedback-text{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.feedback-title{
  font: var(--h1);
  margin: 0;
}

.feedback-paragraph{
  margin: 0;

}

.feedback-message{
  flex-direction: column;
  transform: scale(0);
  display: none;
  transition: transform .4s ease-in-out;
}

.feedback-image{
  inline-size: 100%;
  align-self: center;
}