@import './feedback.css';
@import './valuation.css';
@import './button.css';

:root{
  --bg: #fec7d7; 
  --white: #ffffff; 
  --purple: #a786df; 
  --blue-dark: #0e172c;
  --active: #0e172ccc;
  --h1: 700 1.625rem/2rem Inter; 
  --body1-regular: 400 1rem/1.5rem Inter; 
  --body1-bold: 700 1rem/1.5rem Inter; 
}

body{
  margin: 0;
  font: var(--body1-regular);
  background-color: var(--bg);
  color: var(--blue-dark);
  display: grid;
  place-items: center;
  block-size: 100vh;
}