.feedback-valuation{
  display: flex;
  justify-content: space-between;
}

.feedback-score{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-inline-size: 2.5rem;
  inline-size: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--white);
  outline: 3px solid var(--blue-dark);
  cursor: pointer;
  transition: background-color .2s ease-in-out, transform .2s ease-in-out;
}

.feedback-score:hover{
  background-color: var(--purple);
}

.feedback-score:active{
  background-color: var(--blue-dark);
  color: var(--white);
  transform: scale(.9);
}

.feedback-score.isSelected{
  background-color: var(--blue-dark);
  color: var(--white);
}

@media screen and (min-width: 425px){
  .feedback-score{
    max-inline-size: 3.5rem;
  }
}